# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True

# Database Configuration
DB_NAME=learnhub_db
DB_USER=learnhub
DB_PASSWORD=your_database_password
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=learnhub_db
POSTGRES_USER=learnhub
POSTGRES_PASSWORD=your_database_password

# Telegram Bot (Optional - для уведомлений)
SOCIAL_AUTH_TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Celery & Redis (Optional - для асинхронных задач)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0


# OpenAPI
OPENAI_API_KEY=your_openai_api_key
